// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.gallery {
    
    height: 265px ;
    width: 250px ;
    margin: 10px;
     
    .album-cover {
        border: 1px solid silver ;
        height: 210px ;
        width: 210px ;
        
        img {
            position: relative;
            top: 5px;
        }
    }
    
    .album-detail {
    
        width: 215px;
        text-align: center;
    }

}

.gallery h4 {
  margin-bottom: 2px;
}

.photo {
  border: solid 1px #CCC;
  padding: 10px 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.photo .name {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.photo .image_placeholder {
  width: 200px;
  height: 150px;
  background-color: #B6B6B6;
}

.photo .actions {
  font-size: 10px;
  text-align: center;
  color: #777;
}
